
  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    color: #777;
    background: #fff;
}

h1, h2, h3, h4, h5 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}

html {font-size: 100%;} /* 16px */
h1 {font-size: 4.210rem; /* 67.36px */}
h2 {font-size: 3.158rem; /* 50.56px */}
h3 {font-size: 2.369rem; /* 37.92px */}
h4 {font-size: 1.777rem; /* 28.48px */}
h5 {font-size: 1.333rem; /* 21.28px */}
small {font-size: 0.750rem; /* 12px */}

.background {
  /* background-image: url('../img/darkBG.jpeg') no-repeat; */
  /* backdrop-filter: blur(3px); */
  transition:all 0.9s;
  -webkit-transition:all 0.9s;
  -o-transition:all 0.9s;
  -moz-transition:all 0.9s;
  background-attachment: fixed;
  background-size: cover;
}
.text {color: #f2e6d9;} /* (rgb(242, 230, 217) - hsl(31, 49%, 90%)) */
.background {background-color: #130d06;} /* (rgb(19, 13, 6) - hsl(32, 52%, 5%)) */
.primary {background-color: #3e79bb;} /* (rgb(62, 121, 187) - hsl(212, 50%, 49%)) */
.secondary {background-color: #121132;} /*(rgb(18, 17, 50) - hsl(242, 49%, 13%) */
.accent {background-color: #4bbfc3; } /* (rgb(75, 191, 195) - hsl(182, 50%, 53%)) */

/* Add this CSS to handle the transition */
.leftNavCollapse {
  transition: width 0.5s; /* Transition for width */
  slideRight: 1.5s; /* Transition for width */
}

.leftNavCollapse ul li .nav-link span {
  display: none;
  transition: opacity 0.5s; /* Transition for opacity */
  opacity: 0; /* Initial opacity */
}

.leftNavCollapse.expanded {
  width: 245px; /* Expanded width */
  slideLeft: 1.5s; /* Transition for width */
}

.leftNavCollapse.expanded ul li .nav-link span {
  display: inline;
  opacity: 1; /* Full opacity */
  slideLeft: 1.5s; /* Transition for width */
}
.red-bar {
  width:100%; 
  background-color: #012b32;
  height: 4px; 
  margin-top:75px;
  position: absolute;
}
@media only screen and (max-width: 991px) {
  .red-bar {
      margin-top: 65px;
  }

}

/* inter-300 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(''),
      url('fonts/inter-v12-latin-300.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('fonts/inter-v12-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* inter-400 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
      url('fonts/inter-v12-latin-regular.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('fonts/inter-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local(''),
      url('fonts/inter-v12-latin-500.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('fonts/inter-v12-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
      url('fonts/inter-v12-latin-700.woff2') format('woff2'),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('fonts/inter-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.218),rgba(255, 255, 255, 0.205));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.528);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.37);
    padding: 25px 25px 25px 25px;
}
.glassTable{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.218),rgba(255, 255, 255, 0.205));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.528);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.37);
    padding: 8px 0px 8px 0px;
}
.glassBlue{
    background: linear-gradient(135deg, rgba(119, 210, 252, 0.25),rgba(125, 200, 243, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.25);
    box-shadow: 0 4px 32px 0 rgba(0,0,0,0.37);
}
.frostedGlass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.218),rgba(255, 255, 255, 0.205));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 0);
    padding: 25px 25px 25px 25px;
}
.frostedGlassBlue{
    background: linear-gradient(135deg, rgba(119, 210, 252, 0.25),rgba(125, 200, 243, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 5px;
    border: 3px solid rgba(255,255,255,0.25);
}
#secureLogin {
    position: relative;
 }
 .bg-body-teal {
  background-color: #008080 !important;
}
.bg-body-teal-light {
  background-color: #00ffff !important;
}
.leftNavButton:hover{
  background: linear-gradient(to right, #92E6E8, #ffffff);
};
/* change background image width of 1024  */
@media only screen and (max-width: 1024px) {
    body {
        /* background: url('../images/mda-logo-blue_1024.jpg') no-repeat; */
        /* backdrop-filter: blur(9px); */
        transition:all 0.9s;
        -webkit-transition:all 0.9s;
        -o-transition:all 0.9s;
        -moz-transition:all 0.9s;
        background-attachment: fixed;
        background-size: cover;
        display: grid;
        height: 100vh;
    }
}
/* change background image width of 768  */
@media only screen and (max-width: 768px) {
    body {
        /* background: url('../images/mda-logo-blue_768.jpg') no-repeat; */
        /* backdrop-filter: blur(9px); */
        transition:all 0.9s;
        -webkit-transition:all 0.9s;
        -o-transition:all 0.9s;
        -moz-transition:all 0.9s;
        background-attachment: fixed;
        background-size: cover;
        display: grid;
        height: 100vh;
    }
}

#side_nav{
    background: rgb(59, 58, 58);
    min-height: 100%;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s ease;
}
.dashboard-content{
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    transition: all 0.3s ease;
}
.content{
    min-height: 100vh;
    width: 100%;
}
hr.h-color{
    border: 1px solid #eee;
}
.sidebar li.active{
    background: #eee;
    border-radius: 8px;
}
.sidebar li.active a, .sidebar li.active a:hover{
    color: rgb(47, 47, 47);
}
.sidebar li a{
    color: #fff;
}